{% extends "base.html" %}

{% block body %}
{% for tag, msg in get_flashed_messages(with_categories=True) %}
<div class="alert alert-{{tag}}" role="alert">
    {{msg}}
</div>
{% endfor %}
<div class="col-sm-10 col-md-8 col-lg-6 offset-sm-1 offset-md-2 offset-lg-3 my-4">
    <form action='/new-recipe' method="POST" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        <div class="form-group">
            <h2>{{form.name.label}}</h2>
            {{form.name(class="form-control")}}
        </div>
        <div class="form-group">
            <h2>{{form.ingredients.label}}</h2>
            {{form.ingredients(class="form-control")}}
        </div>
        <div class="form-group">
            <h2>{{form.steps.label}}</h2>
            {{form.steps(class="form-control")}}
        </div>






        <h2>Add Images</h2>

        <div class="imagesList">
            <div class="row">
                <div class="col border">
                    <div class="form-group">
                        <label for="image0">Thumbnail Image</label>
                        <input type="file" name="image0" id="image0" class="form-control-file imgInp">
                    </div>
                </div>
                <div class="col border">
                    <img src="" alt="Image not uploaded" class="img-fluid m-2" id="imageDisplay0">
                </div>
            </div>

            <div class="row">
                <div class="col border">
                    <div class="form-group">
                        <label for="image1">Slide Show Image</label>
                        <input type="file" name="image1" id="image1" class="form-control-file imgInp">
                    </div>
                </div>
                <div class="col border">
                    <img src="" alt="Image not uploaded" class="img-fluid m-2" id="imageDisplay1">
                </div>
            </div>
            <div class="row">
                <div class="col border">
                    <div class="form-group">
                        <label for="image2">Slide Show Image</label>
                        <input type="file" name="image2" id="image2" class="form-control-file imgInp">
                    </div>
                </div>
                <div class="col border">
                    <img src="" alt="Image not uploaded" class="img-fluid m-2" id="imageDisplay2">
                </div>
            </div>
            <div class="row">
                <div class="col border">
                    <div class="form-group">
                        <label for="image3">Slide Show Image</label>
                        <input type="file" name="image3" id="image3" class="form-control-file imgInp">
                    </div>
                </div>
                <div class="col border">
                    <img src="" alt="Image not uploaded" class="img-fluid m-2" id="imageDisplay3">
                </div>
            </div>
            <div class="row">
                <div class="col border">
                    <div class="form-group"><label for="image4">Slide Show Image</label>
                        <input type="file" name="image4" id="image4" class="form-control-file imgInp">
                    </div>
                </div>
                <div class="col border">
                    <img src="" alt="Image not uploaded" class="img-fluid m-2" id="imageDisplay4">
                </div>
            </div>
            <div class="row">
                <div class="col border">
                    <div class="form-group">
                        <label for="image5">Slide Show Image</label><input type="file" name="image5" id="image5"
                            class="form-control-file imgInp">
                    </div>
                </div>
                <div class="col border">
                    <img src="" alt="Image not uploaded" class="img-fluid m-2" id="imageDisplay5">
                </div>
            </div>
            <div class="row">
                <div class="col border">
                    <div class="form-group">
                        <label for="image6">Slide Show Image</label>
                        <input type="file" name="image6" id="image6" class="form-control-file imgInp">
                    </div>
                </div>
                <div class="col border">
                    <img src="" alt="Image not uploaded" class="img-fluid m-2" id="imageDisplay6">
                </div>
            </div>
            <div class="row">
                <div class="col border">
                    <div class="form-group">
                        <label for="image7">Slide Show Image</label>
                        <input type="file" name="image7" id="image7" class="form-control-file imgInp">
                    </div>
                </div>
                <div class="col border">
                    <img src="" alt="Image not uploaded" class="img-fluid m-2" id="imageDisplay7">
                </div>
            </div>
            <div class="row">
                <div class="col border">
                    <div class="form-group">
                        <label for="image8">Slide Show Image</label>
                        <input type="file" name="image8" id="image8" class="form-control-file imgInp">
                    </div>
                </div>
                <div class="col border">
                    <img src="" alt="Image not uploaded" class="img-fluid m-2" id="imageDisplay8">
                </div>
            </div>
            <div class="row">
                <div class="col border">
                    <div class="form-group">
                        <label for="image9">Slide Show Image</label>
                        <input type="file" name="image9" id="image9" class="form-control-file imgInp">
                    </div>
                </div>
                <div class="col border">
                    <img src="" alt="Image not uploaded" class="img-fluid m-2" id="imageDisplay9">
                </div>
            </div>
        </div>
        <br>
        {{form.auth.label}}{{form.auth(class="form-control mb-3")}}
        {{form.submit(class="btn btn-primary")}}
        <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
    </form>
</div>
<script>

    //Upload image and display
    function readURL(input, id) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                // $('#' + id).attr('src', e.target.result);
                console.log(id);
                document.getElementById(id).setAttribute('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    let imageInputFields = document.getElementsByClassName('imgInp');
    for (let item of imageInputFields) {

        item.addEventListener('change', function () {
            readURL(this, 'imageDisplay' + String(this.id.slice(5)));
        })
    }
</script>

{% endblock %}